#logo{
    width: 327px;
    height: 171px;
}


/* AJUSTES NO MENÚ -> NORMAL E RESPONSIVO */

/*Menu abre automaticamente em layout responsivo*/
@media (min-width: 768px){
    ul.nav li:hover > ul.dropdown-menu{
        display:block;
    }    
}

.navbar-nav > li > .dropdown-menu{
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 2px;
    background-color:#EDEBE9;
    font-size:16px;
    color:#777;
    width:100%;
}

.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
    background-color: #aeaeae;
}

.navbar-nav > li > .dropdown-menu > li > a {
    padding:9px 0 9px 19px;
}


@media (max-width: 995px){
    .navbar-nav {
        font-size: 1em;
    }
}
@media (max-width: 767px){
    .navbar-nav > li{
        text-align: center;
    }
    .navbar-nav > li > .dropdown-menu > li > a {
        padding:9px;
        text-align: center;
    }
}

/*TEMA PARA OS BOTÕES

 Each button has the same black, 30% opacity shadow. You can style them individually if you wish! 

.btn-default,
.btn-primary,
.btn-success,
.btn-info,
.btn-warning,
.btn-danger {
    -webkit-box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow:    0px 3px 0px rgba(0, 0, 0, 0.3);
    box-shadow:         0px 3px 0px rgba(0, 0, 0, 0.3);
}

.btn-default:active,
.btn-primary:active,
.btn-success:active,
.btn-info:active,
.btn-warning:active,
.btn-danger:active {
    margin-top: 3px;
    margin-bottom: -3px;
}



 Botões Redes Sociais 
 Blue Flat Button
==================================================
.btn-xlarge{
  position: relative;
  vertical-align: center;
  margin: 30px;
  width: 100%;
  height: 100x;
  padding: 48px 48px;
  font-size: 22px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #62b1d0;
  border: 0;
  border-bottom: 3px solid #9FE8EF;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -3px #9FE8EF;
  box-shadow: inset 0 -3px #9FE8EF;
}
.btn-xlarge:active {
  top: 2px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn-xlarge:hover {
  background: #45E1E8;
}*/
