html{height:100%;width:100%}input{display:block;width:90%;margin-bottom:5px}.container{max-width:330px;padding:15px;margin:65px auto;background-color:#E4E4E4;border-radius:5px}.btn{margin-top:20px}.blue{color:#0066CC}.red{color:#FF0000}
