#logo{width:327px;height:171px}@media (min-width: 768px){ul.nav li:hover>ul.dropdown-menu{display:block}}.navbar-nav>li>.dropdown-menu{text-transform:uppercase;font-weight:900;letter-spacing:2px;background-color:#EDEBE9;font-size:16px;color:#777;width:100%}.dropdown-menu>li>a:focus,.dropdown-menu>li>a:hover{background-color:#aeaeae}.navbar-nav>li>.dropdown-menu>li>a{padding:9px 0 9px 19px}@media (max-width: 995px){.navbar-nav{font-size:1em}}@media (max-width: 767px){.navbar-nav>li{text-align:center}.navbar-nav>li>.dropdown-menu>li>a{padding:9px;text-align:center}}
